@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */


/* 헤더 구역 */
.headWrap { max-width: 1140px; margin: 0 auto; padding: 16px; }
.headWrap .header { position: relative; margin: 0 auto;  height: 88px;}
.headWrap .header .nav { position: absolute; width: 100%; padding: 0 10px; margin: 0 auto; top: 50%; left: 0; transform: translateY(-50%);}
.headWrap .header .nav .nav_left { display: inline-block; width:29%; text-align: left; vertical-align: middle;}
.headWrap .header .nav .nav_left .logo {font-size: 36px; font-weight: bold;}

.headWrap .header .nav .nav_center { display: inline-block; width:49%; font-size: 13px;}
.headWrap .header .nav .nav_center .depth1 {  display: inline-block;  text-align: center; }
.headWrap .header .nav .depth1>li { position: relative;}
.headWrap .header .nav .depth1>li>a { display: block; padding: 8px 16px; }
.headWrap .header .nav .depth1>li:hover .depth2 { display: block;}
.headWrap .header .nav .depth2 { display: none; width: 150px; background-color: white; position: absolute; top: 100%; left: 0; text-align: left; box-shadow: 0px 0px 10px 0px rgba(86, 162, 79, 0.25);}
.headWrap .header .nav .depth2 li a { display: block; padding: 8px 16px; }

.headWrap .header .nav .nav_right { display: inline-block; width:20%; text-align: right;}
/* .headWrap .header .nav .nav_right .join { position: relative;} */
.headWrap .header .nav .nav_right a { padding: 10px 24px; background-color: #76a34e; border-radius: 4px; color: white;}


/* 푸터 구역 */
.tag { height: 45px; background-color: #5c5040;}
.info { height: 110px; background-color: #453d32;}